.online-users {
    height: 80vh;
    padding: 10px 10px;
    ion-item {
        padding: 0 10px 0 0;
        --background: #00000000;
        font-size: calc(0.5em + 0.5vw);
    }
    .chat {
        background: #ffffff;
        .send-message {
            width: 100%;
            margin-left: 0px;
            padding: 10px 0 0 15px;
            display: flex;
            .message-input {
                width: 70%;
                ion-input {
                    border-bottom: 1px solid #cbcbcb;
                }
            }
            .message-btn {
                width: 30%;
                ion-button {
                    width: 100%;
                    height: 90%;
                    border-radius: 10px;
                }
            }
        }
    }
}

.message-area {
    width: 100%;
    height: 430px;
    padding-top: 10px;
    background: #37957736;
    text-align: center;
    ion-text {
        padding: 10px 30px;
        background: #ffffff;
        border-radius: 20px;
        margin-bottom: 10px;
        ion-label {
            font-size: 10px;
            color: #b8b8b8;
        }
    }
}

.online-status {
    font-size: 30px;
}

.users {
    height: 430px;
}

.user-active {
    background: #6596b6;
}