<ion-grid>
  <ion-row class="online-users">
    <ion-col size="4" class="users overflow-auto">
      <ion-item color="dark">
        <ion-text slot="start">Suportes online</ion-text>
      </ion-item>
      <section *ngFor="let element of users">
        <ion-item class="link" color="{{element.selected ? 'primary' : 'light'}}" (click)="setSelected(element)" *ngIf="element.nome != user.nome && element.tipo == user_status">
          <ion-text>{{element.nome}}</ion-text>
          <ion-text slot="end" color="success" class="online-status">•</ion-text>
        </ion-item>
      </section>
     
    </ion-col>
    <ion-col size="8" class="chat">
      <div class="message-area overflow-auto" id="message-area">
        <ion-item lines="none" *ngFor="let item of conversation; let i = index">
          <ion-text slot="{{item.status == 'send' ? 'end' : 'start'}}" id="{{'msg-' + i.toString()}}">
            {{item.message}}
            <br>
            <ion-label>{{item.date | date:'HH:mm'}}</ion-label>
          </ion-text>
        </ion-item>
      </div>
      <section class="row send-message">
        <div class="message-input">
          <ion-input placeholder="mensagem:" id="message"></ion-input>
        </div>
        <div class="message-btn">
          <ion-button color="primary" (click)="sendMessage(user, user_selected)">Enviar</ion-button>
        </div>
      </section>
    </ion-col>
  </ion-row>
</ion-grid>